/* Body 스타일 */
body {
    background-color: #222;
    color: #ddd;
    font-family: Arial, sans-serif;
}

/* 로그인 버튼 스타일 */
#login-button button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* 로고 스타일 */
#logo h1 {
    color: #fff;
    font-size: 32px;
}

/* 카테고리 선택 버튼 스타일 */
#categories button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* 정렬 버튼 스타일 */
#sort-buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* 글쓰기 버튼 스타일 */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* 테이블 스타일 */
.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #555;
    text-align: left;
    color: #fff;
}

th {
    background-color: #444;
}

/* 페이지 선택 버튼 스타일 */
#page-buttons button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

/* 검색 창 스타일 */
#search-box input[type="text"],
#search-box button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#search-box input[type="text"]::placeholder {
    color: #bbb;
}

#search-box button:hover {
    background-color: #555;
}
