body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #ddd;
}

#login-button button {
    background-color: #343a40; /* 다크 그레이 */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#logo h1 {
    color: #fff;
}

#categories button {
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#author-views p {
    color: #bbb; /* 더 어두운 회색 */
}

#postTitle, #postContent {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #333; /* 다크 그레이 */
    color: #ddd;
}

.btn-group button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff; /* 파란색 */
    color: #fff;
    margin-right: 10px;
}

.btn-danger {
    background-color: #dc3545; /* 붉은색 */
    color: #fff;
}