<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 홈</title>
  <link rel="stylesheet" href="home.css?ver=1">
</head>
<body>

<!-- 로그인 버튼 -->
<div id="login-button" th:style="'float: right;'">
  <button id="login-btn">로그인</button>
</div>

<!-- 로고 -->
<div id="logo" th:style="'text-align: center;'">
  <h1>MUSE</h1>
</div>

<!-- 카테고리 선택 버튼 -->
<div id="categories" th:style="'text-align: center;'">
  <button>전체</button>
  <button>일렉기타</button>
  <button>베이스</button>
  <button>어쿠스틱</button>
  <button>키보드</button>
  <button>드럼</button>
  <button>앰프</button>
  <button>마이크</button>
</div>

<!-- 정렬 버튼 -->
<div id="sort-dropdown" th:style="'float: right;'">
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      정렬
    </button>
    <div class="dropdown-menu" aria-labelledby="sortMenu">
      <a class="dropdown-item" href="#">최신</a>
      <a class="dropdown-item" href="#">추천수</a>
      <a class="dropdown-item" href="#">조회수</a>
    </div>
  </div>
</div>

<!-- 게시글 정렬 박스 -->
<table class="table">
  <thead>
  <tr>
    <th>게시글번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${list}">
    <td>
      <a th:text="${post.id}">게시글 번호</a>
    </td>
    <td>
      <a th:href="@{${post.id}}" th:text="${post.title}">제목</a>
    </td>
    <td th:text="${post.memberEntity.memberId}">작성자</td>
    <td th:text="${post.registerDate}">작성일</td>
  </tr>
  </tbody>
</table>


<div id="page-buttons" th:style="'text-align: center;'">
  <!-- 이전 페이지 버튼 -->
  <button th:disabled="${currentPage == 1}" th:onclick="'location.href = \'' + @{/}?page=' + (${currentPage} - 1)" >&lt;</button>
  <!-- 페이지 그룹 -->
  <th:block th:each="groupNumber : ${#numbers.sequence(1, totalPages/5)}">
    <th:block th:if="${currentPage > (groupNumber * 5 - 5) && currentPage <= groupNumber * 5}">
      <button th:each="pageNumber : ${#numbers.sequence((groupNumber * 5 - 4), groupNumber * 5)}" th:if="${pageNumber <= totalPages}" th:onclick="'location.href = \'' + @{/}?page=' + ${pageNumber}" th:text="${pageNumber}"></button>
    </th:block>
  </th:block>
  <!-- 다음 페이지 버튼 -->
  <button th:disabled="${currentPage == totalPages}" th:onclick="'location.href = \'' + @{/}?page=' + (${currentPage} + 1)" >&gt;</button>
</div>


<!-- 검색 창 -->
<div id="search-box" th:style="'text-align: center;'">
  <input type="text" placeholder="검색어를 입력하세요">
  <button>검색</button>
</div>
<script src="home.js?ver=1"></script>
</body>
</html>
