<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="stylesheet" href="join.css">
</head>
<body>
<div class="container">
  <h2>회원가입</h2>
  <form id="registerForm" action="/member/join" method="post">
    <div id="registerError" class="error"></div>
    <input type="text" name="memberId" placeholder="ID" required>
    <input type="password" name="memberPassword" placeholder="비밀번호" required>
    <input type="email" name="memberEmail" placeholder="이메일" required>
    <input type="text" name="memberNickname" placeholder="닉네임" required>
    <input type="submit" value="회원가입">
  </form>
</div>
<script src="join.js"></script>
</body>
</html>