<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시판 홈</title>
  <link rel="stylesheet" href="home.css?ver=1">
</head>
<body>

<!-- 로그인 버튼 -->
<div id="login-button" style="float: right;">
  <form th:action="@{/logout}" method="post">
    <button class="w-100 btn btn-dark btn-lg" type="submint">
      로그아웃
    </button>
  </form>
</div>

<!-- 로고 -->
<div id="logo" style="text-align: center;">
  <h1>MUSE</h1>
</div>

<!-- 카테고리 선택 버튼 -->
<div id="categories" style="text-align: center;">
  <button>전체</button>
  <button>일렉기타</button>
  <button>베이스</button>
  <button>어쿠스틱</button>
  <button>키보드</button>
  <button>드럼</button>
  <button>앰프</button>
  <button>마이크</button>
</div>

<!-- 정렬 버튼 -->
<div id="sort-buttons" style="float: right;">
  <button>최신</button>
  <button>추천수</button>
  <button>조회수</button>
</div>

<!-- 글쓰기 버튼 -->
<button class="btn btn-primary"
        th:onclick="|location.href='@{/write}'|" type="button">
  글쓰기
</button>

<table class="table">
  <thead>
  <tr>
    <th width="10%">게시글번호</th>
    <th width="">제목</th>
    <th width="20%">작성자</th>
    <th width="20%">작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${list}">
    <td>
      <a th:href="@{/{postId}(postId=${post.id})}"
         th:text="${post.id}">게시글 번호</a>
    </td>
    <td>
      <a th:href="@{/{postId}(postId=${post.id})}"
         th:text="${post.title}">제목</a>
    </td>
    <td th:text="${post.memberEntity.memberId}">작성자</td>
    <td th:text="${post.registerDate}">작성일</td>
  </tr>
  </tbody>
</table>
</div>

<!-- 페이지 선택 버튼 -->
<div id="page-buttons" style="text-align: center;">
  <button>1</button>
  <button>2</button>
  <button>3</button>
  <button>4</button>
  <button>5</button>
  <button>다음</button>
</div>

<!-- 검색 창 -->
<div id="search-box" style="text-align: center;">
  <input type="text" placeholder="검색어를 입력하세요">
  <button>검색</button>
</div>

</body>
</html>